# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/
!Makefile

blockchain.db

.DS_Store

_book/
node_modules/

### Above combination will ignore all files without extension ###
!/clipboard

# Add any directories, files, or patterns you don't want to be tracked by version control
